{{ define "title" }}Update Password{{ end }}

{{ define "main" }}
<form action='/account/password/update' method='POST'>
    <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>

    <div>
        <label>Old password</label>
        {{ with .Form.FieldErrors.old_password }}
            <div class='error'>{{ . }}</div>
        {{ end }}
        <input type='password' name='old_password'>
    </div>

    <div>
        <label>New password</label>
        {{ with .Form.FieldErrors.new_password }}
            <div class='error'>{{ . }}</div>
        {{ end }}
        <input type='password' name='new_password'>
    </div>

    <div>
        <label>Confirm new password</label>
        {{ with .Form.FieldErrors.confirm_new_password }}
            <div class='error'>{{ . }}</div>
        {{ end }}
        <input type='password' name='confirm_new_password'>
    </div>

    <div>
        <input type='submit' value='Confirm'>
    </div>
</form>
{{ end }}